body {
    background-color: #0F5837;
}
h3, button, a, p {
    font-family: 'Red Hat Display', sans-serif;   
}
h3 {
    color: #EAF7A5;
}
h5.card-title {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-size: 1.1em;
}
.btn-green {
    background-color: #07AE07;
    border-color: #07AE07;
    color: #fff;
}
.btn-green:hover {
    background-color: #008800;
    border-color: #008800;
    color: #fff;
}
footer {
    background-color: #BDCE67;
}
footer p{
    color: #455200;
    font-weight: 400;
}